ENV=development

API_KEY=I3U2WOkBBkzZpWai0947W2jiPA2mEdam
NOVITA_API_KEY="your-api-key"
PINECONE_API_KEY="your-api-key"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY="your-api-key"
LANGSMITH_PROJECT="lovelytics-task"
